* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.content {
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: auto;
}

.content .header {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.content .header .session {
    margin: auto;
    text-align: center;
}

.content .header .session .btn-danger {
    padding: 0;
}

/* CSS BOTÕES PARA CADASTRO E INFORMAÇÕES */

.content .main {
    width: 100%;
    max-width: 700px;
    margin: auto;
    height: 60px;
}

.content .new-user {
    float: left;
}

.content .more-information {
    float: right
}

/* CSS LISTAGEM DE FUNCIONÁRIOS */

.content .list-employees {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
}

.content .list-employees .table {
    text-align: center;
}

.content .list-employees .table .btn-primary {
    padding: 0;
    /* margin-top: 3px; */
    margin-right: 2px;
}
.content .list-employees .table .btn-danger {
    padding: 0;
}

/* CSS FORMULÁRIO CADASTRO */

.content .container {
    width: 100%;
    max-width: 500px;
    height: 580px;
    margin: auto;
    margin-top: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: solid 1px black;
}

.content .container .title {
    margin: 15px;
}

.content .container .form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
}

.content .container .form label {
    margin-top: 8px;
}

.content .container a:hover {
    text-decoration: none;
    color: red;
}

.content .container h4 {
    height: 75px;
    margin-top: 25px;
}